
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script src="/js/my.js"></script> -->
    </head>
  <h1>adding locations</h1>
  
  
  <!-- Insert Starts-->
  <form action="/locations/" method="post">
  <p><input name = "name" placeholder="name" required></p>              
  <p><input type = "date"name = "start_date" placeholder="start_date" required></p>          
  <p><input type = "date"name = "end_date" placeholder="end_date" required></p>         
  <p><input name = "x" placeholder="x" required></p>         
  <p><input name = "y" placeholder="y" required></p>         
  <p><input name = "address_line_1" placeholder="address_line_1" required></p>       
  <p><input name = "address_line_2" placeholder="address_line_2" ></p>          
  <p><input name = "address_line_3" placeholder="address_line_3" ></p>          
  <p><input name = "category" placeholder="category" required></p>        
  <p><input name = "description" placeholder="description" required></p>   
  <p><input type = "submit" value = "submit">
  </form>
  
  <!-- Inster Ends -->
