<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- <script src="/js/my.js"></script> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<h1>Trans 19</h1>
<br>
<a href="/patients/">Back to page of patients</a>
<br>
<br>
<p>Add a location:</p>
  <!-- Insert Starts-->
  <form action="/locations/" method="post">

    <table border="1" class="table">

      <tr>
          <th>Name: </th>
          <th><input name = "name" class="form-control" placeholder="name" required></th>
      </tr>
      <tr>
        <th>Disctrict: </th>
        <th><select name = "district" class="form-control" required>
            <option value='Central and Western'>Central and Western</option>
            <option value='Eastern'>Eastern</option>
            <option value='Southern'>Southern</option>
            <option value='Wan Chai'>Wan Chai</option>
            <option value='Sham Shui Po'>Sham Shui Po</option>
            <option value='Kowloon City'>Kowloon City</option>
            <option value='Kwun Tong'>Kwun Tong</option>
            <option value='Wong Tai Sin'>Wong Tai Sin</option>
            <option value='Yau Tsim Mong'>Yau Tsim Mong</option>
            <option value='Islands'>Islands</option>
            <option value='Kwai Tsing'>Kwai Tsing</option>
            <option value='North'>North</option>
            <option value='Sai Kung'>Sai Kung</option>
            <option value='Sha Tin'>Sha Tin</option>
            <option value='Tai Po'>Tai Po</option>
            <option value='Tsuen Wan'>Tsuen Wan</option>
            <option value='Tuen Mun'>Tuen Mun</option>
            <option value='Yuen Lung'>Yuen Lung</option>
            </select>
        </th>
      </tr>
      <tr>
        <th>X coordinate: </th>
        <th><input name = "x" class="form-control" placeholder="x" required></th>
      </tr>
      <tr>
        <th>Y coordinate: </th>
        <th><input name = "y" class="form-control" placeholder="y" required></th>
      </tr>
      <tr>
        <th>Address line 1: </th>
        <th><input name = "address_line_1" class="form-control" placeholder="address_line_1" required></th>
      </tr>
      <tr>
        <th>Address line 2: </th>
        <th><input name = "address_line_2" class="form-control" placeholder="address_line_2"></th>
      </tr>
      <tr>
        <th>Address line 3: </th>
        <th><input name = "address_line_3" class="form-control" placeholder="address_line_3"></th>
      </tr>
      <tr>
        <th>Category: </th>
        <th><select name = "category" class="form-control" required>
            <option value='Home'>Home</option>
            <option value='Work'>Work</option>
            <option value='Vacation'>Vacation</option>
            </select>
        </th>    
      </tr>
      <tr>
        <th>Description: </th>
        <th><input name = "description" class="form-control" placeholder="description" required></th>
      </tr>
    
    </table>         
  <input type = "submit" name = "add_submit" value = "submit">
  </form>
  
  <!-- Inster Ends -->

<br>
<p>Showing all locations:</p>
<form action='/locations/' method='post'>
<table class="table" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>District</th>
      <th>Coordinates (x, y)</th>
      <th>Address</th>
      <th>Category</th>
      <th>Description</th>
      <th>Change</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    {% for lo in locations %}
      <th> {{ lo.name }}</th>
      <th> {{ lo.district }} </th>
      <th> ({{ lo.x }}, {{ lo.y }})</th>
      <th> {{ lo.address_line_1 }} {{ lo.address_line_2 }} {{ lo.address_line_3 }}</th>
      <th> {{ lo.category }}</th>
      <th> {{ lo.description }}</th>
      <th>
        <button type='button' onclick="window.location.href='{% url 'locations_modify' lo.id %}'">
          Change
        </button>
      </th>
      <th>
        <input type='checkbox' value='{{ lo.name }}' name='check_box_list'>
      </th>
    </tr> 
    {% empty %}
    <tr>Empty Record</tr>
    {% endfor %}
  </tbody>
</table>
<input type='submit' name='delete_submit' value='Delete selected locations'>
</form>


<script type="text/javascript">
jQuery(document).ready(function($) {
  $(".clickable-row").click(function() {
      window.location = $(this).data("href");
  });
});
</script>
