<form action="{% url 'modify' %}" method="post" > 

<select name = "patient" id = "patient" onchange = "javascript:this.form.submit()">

{% for p in patients %}
  <option value = "{{ p.case_no }}" name = ""> {{p.name}}</option>
{% endfor %}

</select>


<table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>X-Coord</th>
        <th>Y-Coord</th>
        <th>Category</th>
        <th>Address</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for lv in l_visited %}
      <tr>
        <th> {{ lv.name }}</th>
        <th> {{ lv.x }}</th>
        <th> {{ lv.y }}</th>
        <th> {{ lv.category }}</th>
        <th> {% if lv.address_line_1 != None %} {{ lv.address_line_1 }} <br> {% endif %} 
             {% if lv.address_line_2 != None %} {{ lv.address_line_2 }} <br> {% endif %}               
             {% if lv.address_line_3 != None %} {{ lv.address_line_3 }} {% endif %} 
        </th>
        <th> {{ lv.description }}</th>
        <th>      <input type="checkbox" value = "{{ lv.name }}" name = "check_box_list" checked = ""> </th>
      </tr> 
      {% empty %}
      <tr>Empty Record</tr>
      {% endfor %}
    </tbody>
</table>

<input type = "submit" value = "Save">
</form>