
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<h1>Trans 19</h1>
<h2>Patient Profile</h2>
<a href="/patients/">Back to all patients</a>
<br>
<br>
<table border="1" class="table">

    <tr>
        <th>Name: </th>
        <th>{{ patient.name }}</th>
    </tr>
    <tr>
        <th>Identity Document Number: </th>
        <th>{{ patient.id_document_no }}</th>
    </tr>
    <tr>
        <th>Date of Birth: </th>
        <th>{{ patient.date_of_birth }}</th>
    </tr>
    <tr>
        <th>Date on which the case was confirmed: </th>
        <th>{{ patient.date_of_confirmation }}</th>
    </tr>
    <tr>
        <th>Case Number: </th>
        <th>{{ patient.case_no }}</th>
    </tr>
    
</table>
<br>
<p>Add a visiting record:</p>
<!-- Insert Starts-->
<form action="{% url 'patients_profile' patient.case_no %}" method="post">
  <table border="1" class="table">

    <tr>
      <th>Location: </th>
      <th><select name="location" class="form-control" required>
          {% for lo in locations %}
            <option value={{ lo.name }}>{{ lo.name }}</option>
          {% endfor %}
        </datalist>
          </select>
      </th>
    </tr>
    <tr>
      <th>Start Date: </th>
      <th><input type="date" name="start_date" class="form-control"
           placeholder="Start Date" required></th>
    </tr>
    <tr>
      <th>End Date: </th>
      <th><input type="date" name="end_date" class="form-control"
           placeholder="End Date" required></th>
    </tr>
    <tr>
      <th>Detail(if any): </th>
      <th><input name="detail" class="form-control"
           placeholder="Detail"></th>
    </tr>

  </table>
  <p><input type="submit" name="add_submit" value="Add visiting record" /></p>
</form>
<!-- Inster Ends -->


<h1>Locations Visited</h1>
  
<br>

<form action="{% url 'patients_profile' patient.case_no %}" method="post">
  <table class="table" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Detail(if any)</th>
        <th>District</th>
        <th>Coordinates (x, y)</th>
        <th>Address</th>
        <th>Category</th>
        <th>Description</th>
        <th>Change</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      {% for vr in visiting_records %}
      <tr>
        <th> {{ vr.loc.name }} </th>
        <th> {{ vr.start_date }} </th>
        <th> {{ vr.end_date }} </th>
        <th> {{ vr.detail }} </th>
        <th> {{ vr.loc.district }} </th>
        <th> ({{ vr.loc.x }}, {{ vr.loc.y }}) </th>
        <th>
             {% if vr.loc.address_line_1 != None %} {{ vr.loc.address_line_1 }} <br> {% endif %} 
             {% if vr.loc.address_line_2 != None %} {{ vr.loc.address_line_2 }} <br> {% endif %} 
             {% if vr.loc.address_line_3 != None %} {{ vr.loc.address_line_3 }} {% endif %} 
        </th>
        <th> {{ vr.loc.category }}</th>
        <th> {{ vr.loc.description }}</th>
        <th>
          <button type="button" onclick="window.location.href='{% url 'records_modify' patient.case_no vr.id %}'">
            Change
          </button>
        </th>
        <th> 
          <input type='checkbox' value="{{ vr.id }}" name='check_box_list'>
        </th>
      </tr> 
      {% empty %}
      <tr>Empty Record</tr>
      {% endfor %}
    </tbody>
  </table>
<input type='submit' name='delete_submit' value='Delete selected visiting records'>
</form>


<script type="text/javascript">
jQuery(document).ready(function($) {
  $(".clickable-row").click(function() {
      window.location = $(this).data("href");
  });
});
</script>
